/* Projects */
.projects { display: grid; gap: 1rem; padding: 2rem 0; }
.project {
  background: linear-gradient(45deg, #76dddd, #FCB9FF);
  padding: 5rem;
  border-radius: 2px;
}
.project img {
  width: 400px;
  height: 400px;
  border-radius: 2px;
  object-position: center;
  border: 1px solid black;
}

/* Mobile fix for projects */
@media (max-width:719px) {
  .projects {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .project {
    padding: 1rem;
  }
  .project img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }
}
